/* global style */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a !important;
}

li,
a,
h1,
p,
h3,
pre,
button {
  color: #ecf0f1;
  text-decoration: none;
}

nav {
  background-color: #1b1b1b !important;
  width: auto;
  box-shadow: none;
}

pre {
  font-size: 16px;
}

input {
  width: 250px !important;
  background: transparent;
  border: 0;
  border-bottom: 1px solid !important;
  border-color: rgba(236, 240, 241, 0.4) !important;
  padding: 1em 0 0.8em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: #ecf0f1 !important;
  outline: none;
}
input:focus {
  border-color: rgba(236, 240, 241, 1) !important;
}

/* input autofill style */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #24252a inset !important;
  -webkit-text-fill-color: #b300c4 !important;
}

/* navigation bar */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #1b1b1b !important;
}

header a {
  background-color: #1b1b1b !important;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  height: 50px;
  background-color: #1b1b1b !important;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  background-color: #1b1b1b !important;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.menu {
  display: none;
}

header button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1) !important;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: inherit;
  }
}

/* MOBILE NAVIGATOR */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: #1b1b1b !important;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay li {
  padding: 15px;
  font-size: 36px;
  display: block;
}

.overlay li a:hover,
.overlay li a:focus {
  color: #0088a9 !important;
  transition: all 0.3s ease 0s;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450 px) {
  .overlay li {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* FORM */

.btn {
  margin: 20px;
  /* padding: 9px 25px; */
  background-color: rgba(0, 136, 169, 1) !important;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: rgba(0, 136, 169, 0.8) !important;
}
.btn:disabled {
  background-color: rgba(0, 136, 169, 0.3) !important;
}

/* GENERATORS */

/* .row {
  overflow: hidden;
  padding: 10px;
} */

/* .column {
  flex: 50%;
  float: left;
  width: 50%;
} */

/* .item-container {
} */

.item-label {
  color: #ecf0f1;
  display: inline-block;
  width: 150px;
  font-size: 16px;
}
