/* global style */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
h1,
p,
h3,
pre,
button {
  color: #ecf0f1;
  text-decoration: none;
}

pre {
  font-size: 16px;
}

input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  border-color: rgba(236, 240, 241, 0.4);
  padding: 1em 0 0.8em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: #ecf0f1;
  outline: none;
}
input:focus {
  border-color: rgba(236, 240, 241, 1);
}

/* input autofill style */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #24252a inset !important;
  -webkit-text-fill-color: #b300c4 !important;
}

/* navigation bar */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  height: 50px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

header button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* FORM */

/* .post-item {
    padding: 20px 0px;
  } */

.btn {
  margin: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.btn:disabled {
  background-color: rgba(0, 136, 169, 0.3);
}

/* post details */

/* .post-details {
  padding: 30px 0px;
}

.post-details button {
  margin-top: 10px;
} */
